*{
  box-sizing: border-box;
}
@media screen and(max-width:850px)
{
  .Destinations-box
  {
    flex-basis: 50%;
  }
  aside
  {
    flex: 0 0 30vw;
  }
}
@media screen and(max-width:600px)
{
  header
  {
    flex-direction: column;
  }
  #logo
  {
    order: -1;
  }
  .Destinations-selector{
    flex-direction: column;
    align-items: center;
  }
  article
  {
    order: -1;
  }
  h2
  {
    text-align: center;
  }
  #main
  {
    flex-direction: column;
  }
}
body{
  font-family: arial;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
header{
  background-color: #566c2b;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
header ul{
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;

}
header a
{
  color: #fff;
}

#logo{
  margin: 0 auto;
  font-size: 25px;
}
#logo:hover{
  font-size: 30px;
}
a{
  text-decoration: none;
}
#menubar li
{
  padding: 10px;
}
#social li
{
  padding: 10px;
}
#main{
  display: flex;
}
aside{
  flex: 0 0 18vw;
  background-color: beige;
  padding: 10px;
}
aside ul{
  list-style: none;
  padding: 0px;
}
aside ul a
{
  color: #566c2b;
  padding: 10px;
  display: block;
  border-bottom: 1px solid grey;
}
aside ul a:hover
{
  font-weight: bold;
  font-size: 20px;
  font-family:Didot,serif;
  color: #fff;
  background-color: yellowgreen;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
aside img
{
  width: 100%;
}
article
{
  padding: 10px;
}
article h2.welcome
{
  color: crimson;
  text-align: center;
  font-family: Timesnewroman;
  font-size: 30px;
}
.Destinations-selector{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Destinations-box{
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 370px;
}
.Destinations-box img{
  width: 100%;
}
.Destinations-box h3
{
  margin: 5px 0 10px;
}
.Destinations-box p
{
  margin: 0 0 10px;
}
.action{
  align-self: flex-start;
  margin-top:auto;
}
.action a
{
  background-color: grey;
  color: #fff;
  padding: 8px 12px;
  border: 1.5px solid transparent;
  display:block;
}
.action a:hover
{
  background-color: transparent;
  border: 1.5 px solid grey;
  color: grey;
}
footer
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: radial-gradient(yellowgreen,green);
  padding: 10px;
}
footer.left-footer
{
  text-align: left;
}
footer.center-footer
{
  text-align: center;

}
