.navbar 
{		
	background:#FFF;
	color:#F00;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.navbar .navbar-brand 
{
	color:#fff;
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
	font-family: 'Raleway', sans-serif;
}
.navbar .navbar-brand span{
	color:#33C;
	font-weight:bold;
	font-size:24px;
	font-family:"Times New Roman", Times, serif;
}
.navbar .navbar-brand span:hover{
	color:#F00;
}
.navbar ul.nav li a:hover, .navbar ul.nav li a:focus 
{
	color:#FFF !important;
	font-weight:bold;
}
.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus 
{
	color:#F00 !important;
	background: transparent !important;
}
.navbar .nav-item i 
{
		font-size: 18px;
}
.footer
{
	background-image:url(blue-cool-sunset-w4-2560x1440.jpg);
	background-repeat:no-repeat;
	color:#d3d3d3;
	height:300px;
	position:relative;
}
.footer .footer-content
{
	display:flex;
	height:220px;
}
.footer .footer-content .footer-section
{
	flex:1;
	padding:33px;
	padding-left:10px;
}
.footer .footer-content .places h2 span{
	color:#06F;
}

.footer .footer-content .links h2{
	color:#fff;
}
.footer .footer-content .links ul li
{
	list-style:none;
	line-height:none;
	
}
.footer .footer-content .links ul li a
{
	display:block;
	color:#FFF;
}
.footer .footer-content .links ul li a:hover
{
	color:#999;
	font-weight:bold;
	margin-left:15px;
	transition:all 1.3s;
}
.footer .footer-content .Address
{
	padding-top:20px;
}
.footer .footer-bottom
{
	background-color:#666;
	color:#fff;
	text-align:center;
	height:50px;
	width:100%;
	line-height:50px;
	position:absolute;
	bottom:0;
	left:0;
}
@media screen and (max-width: 930px)
{
	.footer
{
	height:auto;
}
.footer .footer-content
{
	flex-direction:column;
	
	margin-right:30px;
	height:auto;
}
	
}